/* styles.css */
.container {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.bold {
  font-weight: bold;
}
.container h1 {
  color: #333;
}

.container p {
  color: #666;
}

.button {
  display: block;
  width: 230px;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #2F4F4F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #008080;
}
.button-container {
  display: flex;
  gap: 12px; /* Adjust the space between buttons as needed */
}
