
<div class="form-container">
  <div class="form-column">
    <h3 class="column-header">Patient: </h3>
    <div class="form-checkbox-group">
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Sex
        <select [(ngModel)]="filters.sex">
          <option value="F">Female</option>
          <option value="M">Male</option>
        </select>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Age
        <div class="custom-slider">
        <ngx-slider [(value)]="filters.age" [(highValue)]="ageRange.max" [options]="ageOptions"></ngx-slider>
        </div>
      </label>
    </div>
  </div>


  <div class="form-column">
    <h3 class="column-header" style="margin-left: 30px;">Lesion:</h3>
    <div class="form-checkbox-group">
    </div>
    <div class="form-checkbox-group dominance-group">
      <label class="form-checkbox">
        Dominance
        <select [(ngModel)]="filters.dominance">
          <option value="RIGHT">Right</option>
          <option value="LEFT">Left</option>
        </select>
      </label>
    </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterOcclusion" value="totalOcclusion">
          Total Occlusion
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterBluntStump" value="bluntStump">
          Blunt Stump
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="sideBranch" value="sideBranch">
          Side Branch
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterBridging" value="bridging">
          Bridging
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="trifurcation" value="trifurcation">
          Trifurcation
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="bifurcation" value="bifurcation">
          Bifurcation
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterHeavyCalcification" value="heavyCalcification">
          Heavy Calcification
        </label>
      </div>
    <div class="form-checkbox-group">
      <label class="form-checkbox">
        <input type="checkbox" name="filterOcclusionAge" value="totalOcclusionAge">
        Occlusion Age
      </label>
    </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterThrombus" value="thrombus">
          Thrombus
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterSevereTortuosity" value="severeTortuosity">
          Severe Tortuosity
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="aortoOstialStenosis" value="aortoOstialStenosis">
          Aorto Ostial Stenosis
        </label>
      </div>
  </div>


  <div class="form-column">
    <div class="form-checkbox-group">
    </div>
    <div class="form-checkbox-group">
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Syntax Score
        <div class="custom-slider">
          <ngx-slider [(value)]="filters.syntaxScore" [(highValue)]="syntaxScoreRange.max" [options]="syntaxScoreOptions"></ngx-slider>
        </div>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Width
        <div class="custom-slider">
        <ngx-slider [(value)]="filters.width" [(highValue)]="widthRange.max" [options]="widthOptions"></ngx-slider>
        </div>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Height
        <div class="custom-slider">
        <ngx-slider [(value)]="filters.height" [(highValue)]="heightRange.max" [options]="heightOptions"></ngx-slider>
        </div>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Occlusion Length
        <div class="custom-slider">
        <ngx-slider [(value)]="filters.occlusionLength" [(highValue)]="occlusionLengthRange.max" [options]="occlusionLengthOptions"></ngx-slider>
        </div>
      </label>
    </div>
  </div>
</div>
<button class="button-submit" (click)="filterQuery()">Submit</button>
<router-outlet></router-outlet>
