<style>
  .form-label {
  }
</style>
<div class="form-container">
  <div class="form-column">
    <div class="form-checkbox-group">
      <label class="form-label">
        Dominance
        <select [(ngModel)]="dominance">
          <option value="RIGHT">Right</option>
          <option value="LEFT">Left</option>
        </select>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Sex
        <select [(ngModel)]="sex">
          <option value="F">Female</option>
          <option value="M">Male</option>
        </select>
      </label>
    </div>
  </div>

  <div class="form-column">
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterOcclusion" value="totalOcclusion">
          Total Occlusion
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterBluntStump" value="bluntStump">
          Blunt Stump
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="sideBranch" value="sideBranch">
          Side Branch
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterBridging" value="bridging">
          Bridging
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="trifurcation" value="trifurcation">
          Trifurcation
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="bifurcation" value="bifurcation">
          Bifurcation
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterHeavyCalcification" value="heavyCalcification">
          Heavy Calcification
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterThrombus" value="thrombus">
          Thrombus
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="filterSevereTortuosity" value="severeTortuosity">
          Severe Tortuosity
        </label>
      </div>
      <div class="form-checkbox-group">
        <label class="form-checkbox">
          <input type="checkbox" name="aortoOstialStenosis" value="aortoOstialStenosis">
          Aorto Ostial Stenosis
        </label>
      </div>
  </div>

  <div class="form-column">
    <div class="form-checkbox-group">
      <label class="form-label">
        Age
        <ngx-slider [(value)]="age" [(highValue)]="ageRange.max" [options]="ageOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Frame
        <ngx-slider [(value)]="frame" [(highValue)]="frameRange.max" [options]="frameOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        X Coordinate
        <ngx-slider [(value)]="x" [(highValue)]="xRange.max" [options]="xOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Y Coordinate
        <ngx-slider [(value)]="y" [(highValue)]="yRange.max" [options]="yOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Width
        <ngx-slider [(value)]="width" [(highValue)]="widthRange.max" [options]="widthOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Height
        <ngx-slider [(value)]="height" [(highValue)]="heightRange.max" [options]="heightOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Occlusion Age
        <ngx-slider [(value)]="occlusionAge" [(highValue)]="occlusionAgeRange.max" [options]="occlusionAgeOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Occlusion Length
        <ngx-slider [(value)]="occlusionLength" [(highValue)]="occlusionLengthRange.max" [options]="occlusionLengthOptions"></ngx-slider>
      </label>
    </div>
    <div class="form-checkbox-group">
      <label class="form-label">
        Syntax Score
        <div class="custom-slider">
        <ngx-slider [(value)]="syntaxScore" [(highValue)]="syntaxScoreRange.max" [options]="syntaxScoreOptions"></ngx-slider>
        </div>
      </label>
    </div>
  </div>
</div>
<button class="button-submit" (click)="filterQuery()">Submit</button>
<router-outlet></router-outlet>
